<!DOCTYPE html>
<html>
<head>
  <title>Wikisearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="toolbar">
	<div class="search-box">
		<%= form_tag search_path do %> 
		<%= text_field_tag :search_box, nil, :id => "search_box" %> 
		<%= submit_tag "search" %>
		<% end %> 
	</div>

	<div id="insidetoolbar">
		<% if user_signed_in? %>Signed in as <%#= @user.email %> 
		<%= image_tag current_user.avatar.thumb.url, :id => 'thumba' %> </div></div>
		
		<% else new_user_registration_path %>
		<% end %> 
	</div> 

<%= yield %>

</body>
</html>
